.dashboard {
  padding: 20px;
  background-color: #eef1f6b1;

  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #213f7d;
    margin: 40px 0;
  }

  .stats {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stat-icon {
    margin-bottom: 10px;
  }

  .stat-card {
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .stat-label {
    font-size: 14px;
    color: #213f7d;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .stat-value {
    font-size: 24px;
    color: #213f7d;
    font-weight: 600;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #213f7d;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th,
    td {
      padding: 12px;
      border-bottom: 1px solid #eaeaea;
      text-align: left;
    }

    th {
      align-items: center;
      justify-content: flex-start;

      .filter-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 5px;
      }

      .filter-icon {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }
    }

    .status {
      width: 80px;
      height: 30px;
      padding: 6px 8px;
      border-radius: 12px;
      font-size: 0.875rem;
      font-weight: 500;

      &.inactive {
        background-color: rgba(128, 128, 128, 0.15);
        color: gray;
      }

      &.pending {
        background-color: rgba(255, 166, 0, 0.15);
        color: orange;
      }

      &.blacklisted {
        background-color: rgba(255, 0, 0, 0.15);
        color: red;
      }

      &.active {
        background-color: rgba(0, 128, 0, 0.15);
        color: green;
      }
    }
  }

  .filter-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .filter-content {
      background: #fff;
      padding: 20px;
      width: 300px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;

        input,
        select {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
        }
      }

      .filter-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .reset-button {
          padding: 8px 16px;
          background-color: #f5f5f5;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          color: #333;
          &:hover {
            background-color: #e5e5e5;
          }
        }

        .apply-button {
          padding: 8px 16px;
          background-color: #00bfa6;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          &:hover {
            background-color: #009e89;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .status {
    text-align: center;
  }
  .filter-container img {
    display: none; // Hide filter icon on mobile
  }
  table {
    font-size: 0.375rem;
    th,
    td {
      padding: 4px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 16px;
  float: right;
}

.arrow-button {
  padding: 6px 12px;
  border: none;
  background-color: #e0e0e0;
  color: #213f7d;
  cursor: pointer;
  border-radius: 4px;
}

.page-button {
  color: #545f7d7d;
}

.page-button.active {
  color: #262b39;
}

.arrow-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagn-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagination-info {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #545f7d;
  margin-top: 40px;

  span {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .length {
    background-color: #545f7d3b;
    padding: 4px 16px;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bold;
    color: #545f7d;
  }
}

/* Make the table smaller and more compact on mobile */
@media (max-width: 768px) {
  .dashboard {
    width: 100%;
    // overflow-x: hidden;
  }
  h1 {
    text-align: center;
  }
  /* Hide certain columns */
  .user-table th:nth-child(4),
  .user-table td:nth-child(4),
  .user-table th:nth-child(5),
  .user-table td:nth-child(5) {
    display: none; /* Hide Phone Number and Date Joined columns on mobile */
  }

  .user-table th .filter-container img {
    display: none; /* Hide filter icon */
  }

  /* Make table rows display as blocks on mobile */
  .user-table {
    width: 80%;
    overflow-x: auto;
  }

  .user-table th,
  .user-table td {
    font-size: 14px;
    padding: 4px;
  }

  /* Stack each cell vertically */
  .user-table tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Add borders for distinction */
  }

  .user-table td {
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }

  .user-table td::before {
    content: attr(data-label); /* Adds the column name as a label */
    font-weight: bold;
  }

  .pagination {
    gap: 10px; /* Reduce space between pagination buttons */
    font-size: 12px;
    margin-top: 40px;
  }

  .arrow-button,
  .page-button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .pagination-info {
    font-size: 12px;
    gap: 2px;
  }

  .length {
    padding: 1px 3px;
  }
}

//---
@media (max-width: 768px) {
  .stat-card {
    width: 80px;
    height: 100px;
    padding: 15px;
  }

  .stat-label {
    font-size: 12px;
  }

  .stat-value {
    font-size: 18px;
  }
}

/* Make stat cards stack vertically on small screens */
@media (max-width: 480px) {
  .stat-card {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }

  .stat-label {
    font-size: 12px;
  }

  .stat-value {
    font-size: 20px;
  }
  .stats {
    justify-content: flex-start; /* Align cards to the left */
    gap: 5px;
  }
}
