.mobile-nav {
    width: 100%;
    max-width: 164px;
  }
  
  // Sheet content customization
  .sheet-content {
    border: none;
    color: #21407d;
    background-color: wheat; 
    width: 60%; 
  }
  
  // Trigger icon styles
  .trigger-icon {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  // Logo styles
  .logo-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
  }
  
  .logo-title {
    font-size: 26px;
    font-weight: bold;
    color: #000;
  }
  
  // Nav item styles
  .nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    color: #333;
    text-decoration: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #213f7d;
    }
  
    &.active {
      background-color: #39cdcd44; // Adjust this as per the active link background
      color: #fff;
  
      .icon {
        filter: brightness(3);
        invert: 0;
      }
  
      .label {
        color: #fff;
      }
    }
  
    .label {
      font-size: 16px;
      font-weight: 500;
      color: #213f7d;
    }
  
    .icon {
      width: 20px;
      height: 20px;
      margin-top: 20px;
    }
  }
  
 