.mobile-nav {
  width: 100%;
}

// Sheet content customization
.sheet-content {
  color: orange;
  background-color: #38b2ac;
  width: 60%;
}

// Trigger icon styles
.trigger-icon {
  cursor: pointer;
  margin-top: 90px;
  margin-left: 40px;
  z-index: 1000; /* Ensure the icon appears above other elements */
}

.mobilenav-sheet nav {
  max-height: calc(100vh - 100px);
  overflow-y: auto; // Enable scrolling
}

// Logo styles
.logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.logo-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

// Nav item styles
.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  color: #333;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #213f7d;
    width: 100%;
    border-radius: 10px;
  }

  &.active {
    background-color: #39cdcd44;
    color: #fff;
    width: 100%;

    .icon {
      filter: brightness(3);
    }

    .label {
      color: #fff;
    }
  }

  .label {
    font-size: 16px;
    font-weight: 500;
    color: #213f7d;
    margin-top: 20px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-top: 20px;
  }
}
