.search-bar {
  flex: 1;
  max-width: 28rem;
  margin: 0 1rem;
}

.search-bar-container {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  overflow: hidden;
}

.input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background-color: #f3f4f6;
  outline: none;
}

.search-button {
  padding: 0.75rem 1rem;
  background-color: #38b2ac;
  color: #fff;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 0.75rem;
  }

  /* Flex layout on mobile */
  nav .flex {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  }

  /* Logo - Mobile */
  nav .flex-logo {
    margin-bottom: 20px;
    justify-content: center;
  }

  /* Search Bar - Mobile */
  nav .search-bar {
    max-width: none;
    width: 100%;
    margin: 0;
  }

  nav .search-bar-container {
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
  }

  nav .search-button {
    width: 30%;
    padding: 0.75rem;
  }

  nav .user-container {
    justify-content: center;
    gap: 1rem;
  }
  .avatar {
    margin-left: 50px;
    margin-top: 10px;
  }
}
