.container {
  padding: 20px;
  background-color: #f9f9f9;
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #213f7d;
    margin-bottom: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 20px 0;

  .backLink {
    color: #213f7d;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center; // Aligns icon and text vertically

    img {
      margin-right: 8px; // Adjust spacing between icon and text
    }
  }

  .status {
    display: flex;
    gap: 10px; // Adjusted gap between buttons
  }

  .blacklistButton,
  .activateButton {
    width: 170px;
    height: 40px;
    font-weight: 600;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }

  .blacklistButton {
    background-color: #f5eaea;
    color: #e4033b;
    border-color: #e4033b;
  }

  .activateButton {
    background-color: #f0fdf9;
    color: #39cdcc;
    border-color: #39cdcc;
  }
}

.userSummary {
  width: 1037px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  gap: 15px;

  .tabs {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%; // Ensure tabs take full width of userSummary

    a {
      color: #000; // Black color for inactive tabs
      font-size: 14px;
      text-decoration: none;
      padding: 8px 0;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      height: 29px; 
      text-align: center; 
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1; // Distribute width equally among all tabs
    }

    .activeTab {
      color: #39cdcc;
      border-color: #39cdcc;
      font-weight: 500;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;

  .avatar {
    margin-right: 20px;
    font-size: 50px;
    color: #bbb;
  }

  .name,
  .tier,
  .balanceInfo {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .userName {
    font-size: 22px;
    font-weight: 500;
    color: #213f7d;
    margin: 0;
  }

  .userId {
    color: #545f7d;
    font-size: 14px;
    font-weight: 400;
  }

  .userTier {
    color: #213f7d;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  .star {
    color: #ffb100;
  }

  .balanceInfo {
    margin-left: auto;
  }

  .balance {
    font-size: 22px;
    font-weight: 500;
    color: #213f7d;
    margin: 0;
  }

  .accountDetails {
    font-size: 12px;
    font-weight: 400;
    color: #545f7d;
  }
}

/* Adding vertical rule */
.name,
.tier {
  border-right: 1px solid #d3d3d3; // Gray vertical line
}

.name {
  margin-right: 20px;
}

.tier {
  margin-right: 20px;
}

.userDetails{
    width: 1037px;
    height: 910px;
    background-color: white;
    border-radius: 4px;
    margin-top: 30px;
    padding: 30px;
}

.personal-info {
  border-bottom: 1px solid #ccc;
  padding: 30px 0 30px 0;

  color: #213f7d;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #213f7d;
    padding-bottom: 5px;
    text-align: left;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;

    .info-item {
      display: flex;
      flex-direction: column;
      text-align: left;

      .label {
        font-size: 12px;
        font-weight: 400;
        color: #213f7d;
        font-size: 0.9em;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #213f7d;
      }
    }
  }
}

.edu-info {
  border-bottom: 1px solid #ccc;
  padding: 30px 0 30px 0;

  color: #213f7d;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #213f7d;
    padding-bottom: 5px;
    text-align: left;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;

    .info-item {
      display: flex;
      flex-direction: column;
      text-align: left;

      .label {
        font-size: 12px;
        font-weight: 400;
        color: #213f7d;
        font-size: 0.9em;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #213f7d;
      }
    }
  }
}

.social-info {
  border-bottom: 1px solid #ccc;
  padding: 30px 0 30px 0;

  color: #213f7d;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #213f7d;
    //   border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: left;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;

    .info-item {
      display: flex;
      flex-direction: column;
      text-align: left;

      .label {
        font-size: 12px;
        font-weight: 400;
        color: #213f7d;
        font-size: 0.9em;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #213f7d;
      }
    }
  }
}

.guarantor-info {
  border-bottom: 1px solid #ccc;
  padding: 30px 0 30px 0;

  color: #213f7d;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #213f7d;
    //   border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: left;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;

    .info-item {
      display: flex;
      flex-direction: column;
      text-align: left;

      .label {
        font-size: 12px;
        font-weight: 400;
        color: #213f7d;
        font-size: 0.9em;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #213f7d;
      }
    }
  }
}
